img{
  float: right;
}
.boxes{
  font-weight: bold;
  font-family: sans-serif;
}
body{
  background-image:url(https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwiw39GdgcPgAhWWDGMBHYOaDDwQjRx6BAgBEAU&url=https%3A%2F%2Fwww.shutterstock.com%2Fimage-vector%2Fabstract-seamless-triangle-sport-pattern-girls-1016926444&psig=AOvVaw210KhdN05g4cgKu6_nY8Ix&ust=1550494843931568);
  background-color: transparent;
}
